body {
    margin: 0;

}

header {
    background-color: black;
    width: 1440;
    height: 133;
    margin: 0;
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    align-items: center;
    padding: 10px;
}

.titre {
    color: #eae1d5;
    font-family: Andika;
    font-size: 40px;
}

a {
    color: white;
    font-size: 32px;
    font-family: Crimson Text;
    padding: 0px 25px;
    text-decoration: none;
    border-radius: 15px;
}

a:hover {
    color: brown;
    background-color: azure;
}

.contact {
    color: #736149;
}

.brow {
    background: linear-gradient(90deg, #9C645A 50%, #ffffff 50%);
    width: 1440;
    height: 3996px;
}

.cherche {
    background-color: #9C645A;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    align-items: center;
}

.cherche::placeholder {
    color: white;
    padding-inline: 50px;
    font-size: medium;

}

.entre {
    background: #9C645A;
}

.nametitle {
    margin: 0px;
    font-size: 96px;
    color: #E9E2D2;
    margin-left: -50px;
}

.titlelkbir {
    margin-left: -90px;
    padding: 14px;
    display: flex;
    gap: 30px;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 48px;
    font-weight: 900;
}

.logo_color {
    margin: 20px;
    width: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 31px;
    margin-left: -20px;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

.image_container {

    margin-right: 120px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image {

    width: 220px;
    height: 220px;
}

#image1 {
    border-radius: 236.5px;
    width: 400px;
}

#image4 {
    border-radius: 236.5px;
    width: 400px;
}

#image2 {
    width: 173px;
}

#image3 {
    width: auto;
    height: 179px;
}

.images_2 {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.add-icon {
    background: none;
    border: none;
}

.content2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.icon2 {
    /* margin-right: 260px; */
    /* position: fixed;
    align-self: flex-end;
    justify-self: end; */
    width: 156px;
}

.about-us {
    align-self: center;
    font-size: 70px;
    font-family: Caveat;

}

.rectangle {
    margin-left: 700px;
    margin-top: 10px;
    width: 516px;
    height: 11px;
    border-radius: 20px;
    background-color: #9F7D5E;

}