@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Caveat+Brush&family=Caveat:wght@400..700&family=Changa:wght@200..800&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* *{
    border: 1px solid black;
} */
body {
    margin: 0;
    background: linear-gradient(90deg, #9C645A 50%, #ffffff 50%);

}

nav {
    background-color: black;
    width: 1440;
    height: 133;
    margin: 0;
    border-radius: 10px;
}

main {
    padding-top: 133px;
}

.navbar {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    /* gap: 50px; */
    align-items: center;
    position: fixed;
    padding: 0;
    width: 100%;
}

.titre {
    color: #eae1d5;
    font-family: "Andika", sans-serif;
    font-size: 48px;
}

a {
    color: white;
    font-size: 32px;
    font-family: Crimson Text;
    padding: 0px 25px;
    text-decoration: none;
    border-radius: 15px;
}

a:hover {
    color: brown;
    background-color: azure;
}

.contact {
    color: #736149;
}

.brow {
    background: linear-gradient(90deg, #9C645A 50%, #ffffff 50%);
    height: 3700px;
}

.cherche {
    background-color: #9C645A;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    align-items: center;

}

.cherche::placeholder {
    color: white;
    padding-inline: 50px;
    font-size: medium;

}

.entre {
    background: #9C645A;
    border-radius: 40px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.test-input {
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: transparent !important;
    color: rgb(255, 255, 255);
}

.test-input::placeholder {
    color: #ffffff;
    padding-left: 5px;
}


.nametitle {
    margin: 0px;
    font-size: 96px;
    color: #E9E2D2;
    margin-left: -50px;
    font-family: "Changa", sans-serif;
}

.titlelkbir {
    margin-left: -0px;
    padding: 14px;
    display: flex;
    gap: 30px;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 96px;
    font-weight: 900;
    font-family: Caveat Brush;
    color: #74634B;
}

.logo_color {
    margin: 10px;
    width: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 31px;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
    line-height: 1.5;

}

.image_container {

    margin-right: 120px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image {

    width: 220px;
    height: 220px;
}

#image1 {
    border-radius: 236.5px;
    width: 572px;
    height: 272px;
}

#image4 {
    border-radius: 236.5px;
    width: 478px;
}

#image2 {
    width: 173px;
}

#image3 {
    width: 371.5px;
    height: 179px;

}

.images_2 {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.add-icon {
    background: none;
    border: none;
}

.content2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 60px;
}

.icon2 {
    /* margin-right: 260px; */
    /* position: fixed;
    align-self: flex-end;
    justify-self: end; */
    width: 156px;
}

.about-us {
    align-self: center;
    font-size: 70px;
    font-family: Caveat;
    margin-right: 120px;
}

.contact-us {
    font-size: 70px;
    margin-left: 300px;
    font-family: Caveat;
}

.rectangle {
    margin-left: 1200px;
    margin-top: 10px;
    width: 516px;
    height: 11px;
    border-radius: 20px;
    background-color: #9F7D5E;

}

.rectangle1 {
    margin-left: 120px;
    margin-top: 15px;
    width: 516px;
    height: 11px;
    border-radius: 20px;
    background-color: #9F7D5E;

}

.about1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-right: 25pc;
    margin-right: 25px;
    line-height: 2.5;
    margin-top: 50px
}

.about {
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.textxiaomi {
    font-size: 32px;
    color: #E9AD82;
    /* text-align: center;
    line-height: 1.5;
    text-align: start; */

}

.image-2-about {
    margin-top: -200px;
    margin-right: 120px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.image-2-about-center {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.image-6 {
    width: 235px;
    height: 235px;
    margin-left: 200px;
}

.image-8 {
    width: 235px;
    height: 235px;
    margin-left: 200px;
}

.contact-fich {
    height: 700px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.menu-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;


}

.localimage {
    width: 626px;
    height: 537px;
    border-radius: 20px;
}

.local {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.icon-xiaomi {
    justify-self: center;
    width: 168px;
}

.images_2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

footer {
    display: flex;
    justify-content: center;

}

.cercle {
    width: 80rem;
    height: 40rem;
    background-color: #000000;
    border-radius: 40rem 40rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imrane {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: "IBM Plex Mono", monospace;
}

.text-footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}